<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autosavedContentsBookmark</key>
		<data>
		Ym9va+ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAA3AIAAAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAG1veGRyb2lkBwAAAAEB
		AABMaWJyYXJ5ABQAAAABAQAAQXV0b3NhdmUgSW5mb3JtYXRpb24iAAAAAQEA
		AFVuc2F2ZWQgWGNvZGUgRG9jdW1lbnQueGN3b3Jrc3BhY2UAABQAAAABBgAA
		BAAAABQAAAAkAAAANAAAAFAAAAAIAAAABAMAAM5gBgAAAAAACAAAAAQDAAAc
		owkAAAAAAAgAAAAEAwAAIaMJAAAAAAAIAAAABAMAAPS3EwAAAAAACAAAAAQD
		AAAjvH0AAAAAABQAAAABBgAAmAAAAKgAAAC4AAAAyAAAANgAAAAIAAAAAAQA
		AEG/hFL8AAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
		BAMAAAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
		AQAATWFjaW50b3NoIEhECAAAAAQDAAAAAAAjOgAAAAgAAAAABAAAQb3NxGkA
		AAAkAAAAAQEAADUzQzc5MTI4LTM2MEQtMzBFMS1BNjA4LTE1RkNFRDY1NDAz
		NhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
		AAAAAAEFAADgAAAAAQIAAGMwMjI3ZjExYWUyMGU2MGUxNDc1ZGVkNTI5NWJh
		M2ZiY2NhNDVlMjM7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAy
		MDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMDAwMDAwMTsw
		MTAwMDAwNDswMDAwMDAwMDAwN2RiYzIzOy91c2Vycy9tb3hkcm9pZC9saWJy
		YXJ5L2F1dG9zYXZlIGluZm9ybWF0aW9uL3Vuc2F2ZWQgeGNvZGUgZG9jdW1l
		bnQueGN3b3Jrc3BhY2UAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAfAAAAAAA
		AAAFEAAA6AAAAAAAAAAQEAAAFAEAAAAAAABAEAAABAEAAAAAAAACIAAA4AEA
		AAAAAAAFIAAAUAEAAAAAAAAQIAAAYAEAAAAAAAARIAAAlAEAAAAAAAASIAAA
		dAEAAAAAAAATIAAAhAEAAAAAAAAgIAAAwAEAAAAAAAAwIAAA7AEAAAAAAAAB
		wAAANAEAAAAAAAARwAAAFAAAAAAAAAASwAAARAEAAAAAAACA8AAA9AEAAAAA
		AAA=
		</data>
		<key>isExpendable</key>
		<true/>
		<key>recordDate</key>
		<date>2017-10-03T23:21:32Z</date>
		<key>uniquingNumber</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
